.comp-cabecalho {
    background-color:  #111;;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    box-shadow: 5px 5px 5px #212529;
}

.bem-vindo {
    text-align: center;
    font: 700 18px 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #74747a;
    border-radius: 100%;

    font: 500 20px 'Inter';
    color: #fff;

    height: 50px;
    width: 50px;
}