.comp-menu {
    position: relative;
    z-index: 10;
    width: 320px;
    padding-bottom: 50px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #212529;
}

.comp-menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.comp-menu .logo img {
    width: 70%;
    height: 70%;
    
}

.comp-menu .logo a {
    font: 700 22px 'Inter', sans-serif;
    color: #E9E9E9;
    position: relative;
    left: -10px;
}

.comp-menu .menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comp-menu .menu-items > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 10%;
    font: 500 18px 'Inter', sans-serif;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.comp-menu .menu-items > a:hover {
    background-color: #A028E6;
}

.comp-menu .menu-items > a img {
    width: 27px;
    margin-right: 15px;
}

.comp-menu .menu-items > a.selecionado {
    background-color: #A028E6;
}